.Modal {
  margin: 100px auto 40px auto;
  background-color: #ffffff;
  width: 65%;
  outline: none;
  border-radius: 20px;
  /* padding: 30px; */
  max-width: 890px;
}

@media only screen and (max-width: 768px) {
  .Modal {
    width: unset;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  overflow-y: scroll;
}
