.Modal {
  margin: 40px auto 40px auto;
  background-color: #ffffff;
  width: 65%;
  outline: none;
  border-radius: 20px;
  padding: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  overflow-y: scroll;
}
